/* common properties (_before.scss)*/

///////// TEMPORARY REMOVE IN PRODUCTION
// $temporary-wrapper-width: 1920px;
// $temporary-wrapper-width: 4000px;

// .temporary-wrapper {
//   margin: 0 auto;
//   // width: $temporary-wrapper-width;
//   width: 100%;
//   box-sizing: content-box;
//   // border: 1px solid red;
//   border: 0px;
// }

// .temporary-gallery {
//   height: 1349px;
// }
/// *************************************8

body {
  font-family: "Montserrat", "Arial", "Helvetica", sans-serif;
  min-width: 1200px;
  width: 1920px;
  /*overflow: hidden;*/
  /* **** DEVELOP, REMOVE IN PRODUCTION*/
  // width: $temporary-wrapper-width;
  // margin: 0 auto;
  /* **** DEVELOP, REMOVE IN PRODUCTION*/
  color: $main-color;
}

.wrapper {
  max-width: $container-width;
  margin: 0 auto;
}

.btn {
  min-height: 62px;
  min-width: 165px;
  padding: 0;
  border-width: 0;
  border-radius: 5px;
  color: $main-color;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  transition: background 0.5s, transform 0.5s, box-shadow 0.5s;
  cursor: pointer;
  &:disabled,
  &:disabled:hover,
  &:disabled:active {
    background-color: $header-section-background-color;
    cursor: default;
  }
  &:active {
    position: relative;
    transform: translateY(-5px);
  }
}
.action-btn {
  background-color: $accent-color;

  &:active,
  &:hover {
    background-color: $accent-color-active;
  }
}
.shadow-btn {
  box-shadow: 0px -5px 0px 0px $main-color;
  &:active {
    box-shadow: none;
  }
}
.alternate-btn {
  background-color: $alt-accent-color;
  &:active,
  &:hover {
    background-color: $alt-accent-color-active;
  }
}

.load-more-btn {
  display: block;
  position: relative;
  margin: 0 auto;
  font-size: 14px;
  padding-left: 36px;
  &:before {
    content: url(../image/icon/plus-icon.svg);
    @include centered-vertical-absolute-positioned();
    left: 23px;
  }
}
.main-highlight-color {
  color: $accent-color;
}

.section-header {
  width: fit-content;
  margin: 0 auto;
  font-size: 36px;
  font-weight: 400;
  color: $section-header-color;
  &:after {
    content: url(../image/icon/brake-line.svg);
    display: block;
    margin: 0 auto;
    width: fit-content;
    line-height: 44px;
  }
}
.normal-font-weight {
  font-weight: 400;
}
.bold-font-weight {
  font-weight: 800;
}
.semi-bold-font-weight {
  font-weight: 700;
}
.main-color {
  color: $main-color;
}
.loader {
  width: 30px;
  display: block;
}
/* spinner */
@keyframes spinner {
  0% {
    opacity: 1;
    backface-visibility: hidden;
    transform: translateZ(0) scale(1.5, 1.5);
  }
  100% {
    opacity: 0;
    backface-visibility: hidden;
    transform: translateZ(0) scale(1, 1);
  }
}
.load-spinner {
  width: 78px;
  height: 78px;
  // display: inline-block;
  display: none;
  overflow: hidden;
  background: transparent;
  margin: 0 auto;
}
.spinner-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(0.78);
  backface-visibility: hidden;
  transform-origin: 0 0;
}
.spinner-wrapper div {
  box-sizing: content-box;
}
.spinner-wrapper div > div {
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #18cfab;
  animation: spinner 1s linear infinite;
}
.spinner-wrapper div:nth-child(1) > div {
  left: 74px;
  top: 44px;
  animation-delay: -0.875s;
}
.spinner-wrapper > div:nth-child(1) {
  transform: rotate(0deg);
  transform-origin: 80px 50px;
}
.spinner-wrapper div:nth-child(2) > div {
  left: 65px;
  top: 65px;
  animation-delay: -0.75s;
}
.spinner-wrapper > div:nth-child(2) {
  transform: rotate(45deg);
  transform-origin: 71px 71px;
}
.spinner-wrapper div:nth-child(3) > div {
  left: 44px;
  top: 74px;
  animation-delay: -0.625s;
}
.spinner-wrapper > div:nth-child(3) {
  transform: rotate(90deg);
  transform-origin: 50px 80px;
}
.spinner-wrapper div:nth-child(4) > div {
  left: 23px;
  top: 65px;
  animation-delay: -0.5s;
}
.spinner-wrapper > div:nth-child(4) {
  transform: rotate(135deg);
  transform-origin: 29px 71px;
}
.spinner-wrapper div:nth-child(5) > div {
  left: 14px;
  top: 44px;
  animation-delay: -0.375s;
}
.spinner-wrapper > div:nth-child(5) {
  transform: rotate(180deg);
  transform-origin: 20px 50px;
}
.spinner-wrapper div:nth-child(6) > div {
  left: 23px;
  top: 23px;
  animation-delay: -0.25s;
}
.spinner-wrapper > div:nth-child(6) {
  transform: rotate(225deg);
  transform-origin: 29px 29px;
}
.spinner-wrapper div:nth-child(7) > div {
  left: 44px;
  top: 14px;
  animation-delay: -0.125s;
}
.spinner-wrapper > div:nth-child(7) {
  transform: rotate(270deg);
  transform-origin: 50px 20px;
}
.spinner-wrapper div:nth-child(8) > div {
  left: 65px;
  top: 23px;
  animation-delay: 0s;
}
.spinner-wrapper > div:nth-child(8) {
  transform: rotate(315deg);
  transform-origin: 71px 29px;
}
.delimiter {
  &:after {
    @include horizontal-delimiter("|", 4px, 4px);
  }
}
