/* common properties (_before.scss)*/

///////// TEMPORARY REMOVE IN PRODUCTION
$temporary-wrapper-width: 1920px;
// $temporary-wrapper-width: 4000px;

.temporary-wrapper {
  margin: 0 auto;
  // width: $temporary-wrapper-width;
  width: 100%;
  box-sizing: content-box;
  // border: 1px solid red;
  border: 0px;
}

.temporary-gallery {
  height: 1349px;
}
/// *************************************8

body {
  font-family: "Montserrat", "Arial", "Helvetica", sans-serif;

  /* **** DEVELOP, REMOVE IN PRODUCTION*/
  width: $temporary-wrapper-width;
  margin: 0 auto;
  /* **** DEVELOP, REMOVE IN PRODUCTION*/
  color: $main-color;
}

.wrapper {
  max-width: $container-width;
  margin: 0 auto;
}

.btn {
  min-height: 62px;
  min-width: 165px;
  padding: 0;
  border-width: 0;
  border-radius: 5px;
  color: $main-color;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  transition: background 0.5s, transform 0.5s, box-shadow 0.5s;
  cursor: pointer;
  &:disabled,
  &:disabled:hover,
  &:disabled:active {
    background-color: $header-section-background-color;
    cursor: default;
  }
  &:active {
    position: relative;
    transform: translateY(-5px);
  }
}
.action-btn {
  background-color: $accent-color;

  &:active,
  &:hover {
    background-color: $accent-color-active;
  }
}
.shadow-btn {
  box-shadow: 0px -5px 0px 0px $main-color;
  &:active {
    box-shadow: none;
  }
}
.alternate-btn {
  background-color: $alt-accent-color;
  &:active,
  &:hover {
    background-color: $alt-accent-color-active;
  }
}

.load-more-btn {
  display: block;
  position: relative;
  margin: 0 auto;
  font-size: 14px;
  padding-left: 36px;
  &:before {
    content: url(../image/icon/plus-icon.svg);
    @include centered-vertical-absolute-positioned();
    left: 23px;
  }
}
.main-highlight-color {
  color: $accent-color;
}

.section-header {
  width: fit-content;
  margin: 0 auto;
  font-size: 36px;
  font-weight: 400;
  color: $section-header-color;
  &:after {
    content: url(../image/icon/brake-line.svg);
    display: block;
    margin: 0 auto;
    width: fit-content;
    line-height: 44px;
  }
}
.normal-font-weight {
  font-weight: 400;
}
.bold-font-weight {
  font-weight: 800;
}
.semi-bold-font-weight {
  font-weight: 700;
}
.main-color {
  color: $main-color;
}
.loader {
  width: 30px;
  display: block;
}

.load-spinner {
  display: none;
  background: url("../image/loader/loader.svg") center / cover no-repeat;
  margin: 20px auto;
  width: 60px;
  aspect-ratio: 1;
}
.delimiter {
  &:after {
    @include horizontal-delimiter("|", 4px, 4px);
  }
}
