/* clients section */

.clients-section {
  background: $clients-section-background-color
    url(../image/clients/section-people-say.jpg) center / cover no-repeat;
  color: $main-color;
}
.clients-section__wrapper {
  position: relative;
  padding-top: 98px;
  padding-bottom: 80px;
}
.clients-section__header {
  margin-bottom: 54px;
  color: $main-color;
}
.clients-tab {
  position: relative;
  min-height: 393px;
  color: #bbbbbb;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 39px;
  &:before {
    content: url("../image/icon/quotes.svg");
    display: block;
    margin: 0 auto 38px auto;
    position: relative;
    left: -12px;
    height: 20px;
    width: 20px;
  }
}
.clients-tab__name {
  @include centered-absolute-positioned();
  bottom: 212px;
  font-weight: 700;
  text-transform: uppercase;
  color: $accent-color;
}
.clients-tab__par {
  line-height: 2;
  text-align: center;
}
.clients-tab__profession {
  @include centered-absolute-positioned();
  bottom: 188px;
  text-align: center;
  font-size: 13px;
}

.clients-tab__image {
  display: block;
  border: 10px solid $clients-section-border-color;
  border-radius: 50%;
  // width: 100%;
  // height: 100%;
  object-fit: cover;
  background-color: $clients-section-border-color;

  width: 161px;
  height: 161px;
  bottom: 0px;
  @include centered-absolute-positioned();
}
.clients-carousel {
  position: relative;
  width: 483px;
  margin: 0 auto;
  height: 100px;
}
.carousel-inner {
  position: absolute;
  overflow: hidden;
  height: 100%;
  left: 61px;
  right: 61px;
}
.carousel-wrapper {
  position: absolute;
  left: 0px;
  display: flex;
  gap: 28px;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  transition: left 1s;
}
.carousel-link {
  transition: top 0.5s;
  &:hover,
  &.active {
    cursor: pointer;
    .carousel-preview-image {
      position: relative;
      top: -12px;
      transition: top 0.5s;
    }
  }
}
.carousel-preview__wrapper {
  // width: 69px;
  // height: 69px;
  // transition: top 0.5s;
  &.active {
    // position: relative;
    // top: -10px;
    // transition: translate 0.5s;
  }
}
.carousel-preview-image {
  // width: 100%;
  // height: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid $clients-section-border-color;
  background-color: $clients-section-border-color;

  /////////////
  width: 69px;
  height: 69px;
  transition: top 0.5s;
  // &.active {
  //   position: relative;
  //   top: -10px;
  // }
}

.slider-btn {
  $slider-size: 30px;
  @include centered-vertical-absolute-positioned();
  width: $slider-size;
  height: $slider-size;
  background: transparent url(../image/icon/arrow.svg) center no-repeat;
  border: 1px solid #bbbbbb;
  cursor: pointer;
  transition: border-color 0.5s, background-color 0.5s, background-image 0.5s;
  &:hover {
    border-color: $accent-color;
    background-color: $accent-color;
    background-image: url(../image/icon/arrow-white.svg);
  }

  &.prev-btn {
    left: 0;
  }
  &.next-btn {
    right: 0;
    transform: translateY(-50%) rotate(180deg);
  }
}
