$date-block-height: 65px;
.news-section {
  padding-top: 82px;
  padding-bottom: 118px;
}
.news-section-header {
  margin-bottom: 54px;
}
.news-container {
  display: flex;
  flex-wrap: wrap;
  gap: 36px;
}

.news-item {
  margin-bottom: 20px;
  position: relative;
  color: $section-text-color;
}
.news-item__link {
  color: $section-text-color;
  text-decoration: none;
  &:hover {
    .news-item__header {
      color: $accent-color;
    }

    .news-item__publication-date {
      background-color: $accent-color;
    }
  }
}
.news-item__publication-date {
  position: absolute;
  right: 0;
  top: 0;
  width: $date-block-height;
  height: $date-block-height;
  text-align: center;
  background-color: #203e38;
  color: $main-color;
  line-height: 24px;
  cursor: pointer;
  text-transform: capitalize;
  transition: background-color 0.5s;
  padding: 10px 0;
}

.news-item__image {
  object-fit: cover;
  width: 263px;
  aspect-ratio: 1.26;
  display: block;
}
.news-item__header {
  margin: 0;
  padding: 14px 0 10px 21px;
  font-size: 18px;
  text-transform: capitalize;
  transition: color 0.5s;
}

.news-item__author,
.news-item__comment-count {
  font-size: 14px;
  font-weight: 300;
}
.news-item__author {
  padding-left: 18px;
  padding-right: 10px;
}
.news-item__comment-count {
  padding-left: 10px;
}
