.properties-section {
  display: flex;
  list-style: none;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.properties-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  gap: 32px;
  width: 25%;
  height: 359px;

  &:nth-child(odd) {
    color: $accent-color;
    background-color: $properties-item-background-color-odd;
  }
  &:nth-child(even) {
    color: $main-color;
    background-color: $properties-item-background-color-even;
  }
}

.properties-item__icon {
  height: 97px;
  width: 93px;
  object-fit: contain;
}
.properties-item__description {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 0 7px;
  line-height: 54px;
}
