.purchase-section {
  padding: 125px 0 126px 0;
  text-align: center;
  background: #000 url("../image/purchase/section-purchase.jpg") center / cover
    no-repeat;
  .purchase-header {
    @include section-header(40px);
    margin-bottom: 20px;
  }
  .purchase-content {
    color: #d8d8d8;
    font-size: 16px;
  }
  .purchase-btn {
    margin-top: 61px;
  }
}
