$container-width: 1160px;
$main-color: #fff;
$accent-color: #18cfab;
$accent-color-active: #12967c;
$alt-accent-color: #00cbf6;
$alt-accent-color-active: #0086a1;

$section-header-color: #4e4e4e;
$section-text-color: #717171;

$header-section-background-color: rgba(94, 93, 88, 0.6);
$properties-item-background-color-odd: #1c2a33;
$properties-item-background-color-even: $accent-color;
$clients-section-background-color: $section-text-color;
$clients-section-border-color: rgba(24, 207, 171, 0.2);
$works-section-background-color: #e9edef;
$footer-section-background-color: #22353f;

$tab-width: 194px;
$tab-bg-color: #f8fcfe;
$tab-label-border: 1px solid $accent-color;
