$container-width: 1160px;
$main-color: #fff;
$accent-color: #18cfab;
$accent-color-active: #12967c;
$alt-accent-color: #00cbf6;
$alt-accent-color-active: #0086a1;

$section-header-color: #4e4e4e;
$section-text-color: #717171;

$header-section-background-color: rgba(94, 93, 88, 0.6);
$properties-item-background-color-odd: #1c2a33;
$properties-item-background-color-even: $accent-color;
$clients-section-background-color: $section-text-color;
$works-section-background-color: #e9edef;
$footer-section-background-color: #22353f;

$tab-width: 194px;
$tab-bg-color: #f8fcfe;
$tab-label-border: 1px solid $accent-color;

$transition-color-time: 0.5s;
$transition-background-color-time: 0.5s;
$transition-background-image-time: 0.5s;
$transition-border-color-time: 0.5s;
$transition-opacity-time: 1s;
$transition-border-time: 0.1s;
$transition-box-shadow-time: 0.5s;
$transition-top-time: 0.5s;
$transition-left-time: 1s;
$transition-transform-time: 0.5s;
$transition-translate-time: 0.5s;
$transition-max-height-time: 2s;
